* {
  scroll-behavior: smooth;
  font-family: Arial;
}

/*Icons*/
.Icons {
  margin-left: 20px;
  color: white;
}
/**/
.inline{
display:inline;
}

/* NavBar */
.Links {
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-family: Arial;
  text-align: center;
}
/*Body*/
label {
  text-align: center;
  font-weight: bolder;
}
label > progress {
  height: 25px;
}
.bars {
  margin-left: 50px;
  margin-right: 50px;
}
.bars > p {
  font-family: monospace;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  margin-top: -70px;
}
.description {
  font-family: monospace;
  margin: 20px;
  padding: 10px 60px;
  font-size: 20px;
}
#pl {
  font-size: 20px;
}
hr.solid {
  border-top: 3px solid #bbb;
  width: 100%;
  margin: 0px;
}

.popup {
  display: none;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.tskills > .title {
  display: block;
}
/* IPAD */
@media only screen and (max-height: 1025px) {
  @media only screen and (max-width: 769px) {
    .Links {
      border-right: 1px solid #bbb;
      padding: 2px 5px;
      text-align: center;
    }
    .Links:last-child {
      border-right: 1px solid #fff;
    }

    .bars {
      display: block;
    }
  }
}

@media only screen and (max-width: 500px) {
  .Links {
    font-size: 10px;
    font-weight: bold;
    border-right: 1px solid #bbb;
    padding: 2px 5px;
    margin-bottom: 2px;
    text-align: center;
  }
  .Links:last-child {
    border-right: 1px solid #fff;
  }

  .description {
    padding: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .Links {
    font-size: 8px;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .Links {
    font-size: 7.5px;
  }
  .description {
    padding: 2px;
  }
}
